/* Full Background Color */
body { background-color: #050e1d; 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background: black;
  background: url('img.png') no-repeat;
  background-size: cover;
  background-position: center;
}

/* D20 Games Title Menu Button */
.d20games-button {
    display: block;
    width: 100%;
    border: 3px solid transparent;
    border-radius: 15px;
    background:
      linear-gradient(#101927, #101927) padding-box, /* Inner solid color */
      linear-gradient(to right, rgb(0, 170, 227), rgb(255, 61, 190)) border-box; /* Outer gradient */
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    font-size: 42px;
    margin-bottom: 15px;
    cursor: default;
}

/* Events Page */
.events-button {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px solid transparent;
    border-radius: 15px;
    background:
      linear-gradient(#101927, #101927) padding-box, /* Inner solid color */
      linear-gradient(to right, rgba(180, 180, 180, 0.2), rgba(180, 180, 180, 0.2)) border-box; /* Outer gradient */
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    font-size: 42px;
    cursor: pointer;
}
/* Hover effect */
.events-button:hover {
  background:
    linear-gradient(#283850, #283850) padding-box, /* Inner solid color */
    linear-gradient(to right, rgb(0, 170, 227), rgb(255, 61, 190)) border-box; /* Outer gradient */
  cursor: pointer;
}

/* Dashboard Page */
.dashboard-button {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px solid transparent;
    border-radius: 15px;
    background:
      linear-gradient(#101927, #101927) padding-box, /* Inner solid color */
      linear-gradient(to right, rgba(180, 180, 180, 0.2), rgba(180, 180, 180, 0.2)) border-box; /* Outer gradient */
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    font-size: 42px;
    cursor: pointer;
}
/* Hover effect */
.dashboard-button:hover {
  background:
    linear-gradient(#283850, #283850) padding-box, /* Inner solid color */
    linear-gradient(to right, rgb(0, 170, 227), rgb(255, 61, 190)) border-box; /* Outer gradient */
  cursor: pointer;
}

/* Friends Page */
.friends-button {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px solid transparent;
    border-radius: 15px;
    background:
      linear-gradient(#101927, #101927) padding-box, /* Inner solid color */
      linear-gradient(to right, rgba(180, 180, 180, 0.2), rgba(180, 180, 180, 0.2)) border-box; /* Outer gradient */
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    font-size: 42px;
    cursor: pointer;
}
/* Hover effect */
.friends-button:hover {
  background:
    linear-gradient(#283850, #283850) padding-box, /* Inner solid color */
    linear-gradient(to right, rgb(0, 170, 227), rgb(255, 61, 190)) border-box; /* Outer gradient */
  cursor: pointer;
}

.stats-button {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  border: 1px solid transparent;
  border-radius: 15px;
  background:
    linear-gradient(#101927, #101927) padding-box, /* Inner solid color */
    linear-gradient(to right, rgba(180, 180, 180, 0.2), rgba(180, 180, 180, 0.2)) border-box; /* Outer gradient */
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 42px;
  cursor: pointer;
}
/* Hover effect */
.stats-button:hover {
  background:
    linear-gradient(#283850, #283850) padding-box, /* Inner solid color */
    linear-gradient(to right, rgb(0, 170, 227), rgb(255, 61, 190)) border-box; /* Outer gradient */
  cursor: pointer;
}
